@import './base.css';

main {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
  background-color: var(--main-color);
}

header .jumbotron {
  --jumbotron-background-color: var(--main-color);
  --jumbotron-text-color: var(--text-color);
  text-align: center;
  font-size: 5em;
  padding: 1em;
  background-color: var(--jumbotron-background-color);
  color: var(--jumbotron-text-color);
}

nav.header-menu ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
}

.header-menu ul li {
  text-align: center;
  list-style: none;
  padding: 1em;
  width: 100%;
  cursor: pointer;
}

section article {
  margin-top: 1.5em;
}

footer {
  margin-top: auto;
  padding-bottom: 2em;
  padding-top: 1em;
  text-align: center;
}
